h1 {
    color: #343a40;
}
hr {
    border-top: 3px ​solid rgba(0, 0, 0, 0.1);
}
table {
    width: 100%;
}
mat-row {
    cursor: pointer;
}

// tr :nth-child(even){
//     background-color: #dcdcdc;
//   }

